@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme inline {
  /* ========================= TYPOGRAPHY ========================= */
  --font-playfair: var(--font-playfair);
  --font-outfit: var(--font-outfit);
  --font-inter: var(--font-inter);
  --font-roboto-mono: var(--font-roboto-mono);
}

@layer base {
  *:focus-visible {
    @apply outline-2 outline-offset-2 outline-orange-500 dark:outline-amber-400;
  }
}

@utility focus-visible-inset {
  &:focus-visible {
    outline-offset: -2px;
  }
}

::selection {
  @apply bg-purple-500/25 text-neutral-900;
}

[data-highlighted]:focus {
  outline: none;
}

[data-theme='dark'] ::selection {
  @apply bg-purple-500/25 text-neutral-100;
}

body {
  @apply bg-white text-neutral-600 dark:bg-neutral-950 dark:text-neutral-400;
  font-family: var(--font-inter), sans-serif;
}

code,
pre {
  font-family: var(--font-roboto-mono), monospace;
}
