@import 'tailwindcss';
@import './tokens.css';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme inline {
  /* ========================= TYPOGRAPHY ========================= */
  --font-playfair: var(--font-playfair);
  --font-outfit: var(--font-outfit);
  --font-inter: var(--font-inter);
  --font-roboto-mono: var(--font-roboto-mono);

  /* ========================= COLORS ========================= */
  /* =============== PRIMITIVE =============== */
  /* Orange (Primary) */
  --color-primitive-orange-light-50: var(--color-primitive-orange-light-50);
  --color-primitive-orange-light-100: var(--color-primitive-orange-light-100);
  --color-primitive-orange-light-200: var(--color-primitive-orange-light-200);
  --color-primitive-orange-light-300: var(--color-primitive-orange-light-300);
  --color-primitive-orange-light-400: var(--color-primitive-orange-light-400);
  --color-primitive-orange-light-500: var(--color-primitive-orange-light-500);
  --color-primitive-orange-light-600: var(--color-primitive-orange-light-600);
  --color-primitive-orange-light-700: var(--color-primitive-orange-light-700);
  --color-primitive-orange-light-800: var(--color-primitive-orange-light-800);
  --color-primitive-orange-light-900: var(--color-primitive-orange-light-900);
  --color-primitive-orange-light-950: var(--color-primitive-orange-light-950);

  --color-primitive-orange-dark-50: var(--color-primitive-orange-dark-50);
  --color-primitive-orange-dark-100: var(--color-primitive-orange-dark-100);
  --color-primitive-orange-dark-200: var(--color-primitive-orange-dark-200);
  --color-primitive-orange-dark-300: var(--color-primitive-orange-dark-300);
  --color-primitive-orange-dark-400: var(--color-primitive-orange-dark-400);
  --color-primitive-orange-dark-500: var(--color-primitive-orange-dark-500);
  --color-primitive-orange-dark-600: var(--color-primitive-orange-dark-600);
  --color-primitive-orange-dark-700: var(--color-primitive-orange-dark-700);
  --color-primitive-orange-dark-800: var(--color-primitive-orange-dark-800);
  --color-primitive-orange-dark-900: var(--color-primitive-orange-dark-900);
  --color-primitive-orange-dark-950: var(--color-primitive-orange-dark-950);

  /* Purple (Secondary) */
  --color-primitive-purple-light-50: var(--color-primitive-purple-light-50);
  --color-primitive-purple-light-100: var(--color-primitive-purple-light-100);
  --color-primitive-purple-light-200: var(--color-primitive-purple-light-200);
  --color-primitive-purple-light-300: var(--color-primitive-purple-light-300);
  --color-primitive-purple-light-400: var(--color-primitive-purple-light-400);
  --color-primitive-purple-light-500: var(--color-primitive-purple-light-500);
  --color-primitive-purple-light-600: var(--color-primitive-purple-light-600);
  --color-primitive-purple-light-700: var(--color-primitive-purple-light-700);
  --color-primitive-purple-light-800: var(--color-primitive-purple-light-800);
  --color-primitive-purple-light-900: var(--color-primitive-purple-light-900);
  --color-primitive-purple-light-950: var(--color-primitive-purple-light-950);

  --color-primitive-purple-dark-50: var(--color-primitive-purple-dark-50);
  --color-primitive-purple-dark-100: var(--color-primitive-purple-dark-100);
  --color-primitive-purple-dark-200: var(--color-primitive-purple-dark-200);
  --color-primitive-purple-dark-300: var(--color-primitive-purple-dark-300);
  --color-primitive-purple-dark-400: var(--color-primitive-purple-dark-400);
  --color-primitive-purple-dark-500: var(--color-primitive-purple-dark-500);
  --color-primitive-purple-dark-600: var(--color-primitive-purple-dark-600);
  --color-primitive-purple-dark-700: var(--color-primitive-purple-dark-700);
  --color-primitive-purple-dark-800: var(--color-primitive-purple-dark-800);
  --color-primitive-purple-dark-900: var(--color-primitive-purple-dark-900);
  --color-primitive-purple-dark-950: var(--color-primitive-purple-dark-950);

  /* Neutral */
  --color-primitive-light-50: var(--color-primitive-light-50);
  --color-primitive-light-100: var(--color-primitive-light-100);
  --color-primitive-light-200: var(--color-primitive-light-200);
  --color-primitive-light-300: var(--color-primitive-light-300);
  --color-primitive-light-400: var(--color-primitive-light-400);
  --color-primitive-light-500: var(--color-primitive-light-500);
  --color-primitive-light-600: var(--color-primitive-light-600);
  --color-primitive-light-700: var(--color-primitive-light-700);
  --color-primitive-light-800: var(--color-primitive-light-800);
  --color-primitive-light-900: var(--color-primitive-light-900);
  --color-primitive-light-950: var(--color-primitive-light-950);

  --color-primitive-neutral-50: var(--color-primitive-neutral-50);
  --color-primitive-neutral-100: var(--color-primitive-neutral-100);
  --color-primitive-neutral-150: var(--color-primitive-neutral-150);
  --color-primitive-neutral-200: var(--color-primitive-neutral-200);
  --color-primitive-neutral-250: var(--color-primitive-neutral-250);
  --color-primitive-neutral-300: var(--color-primitive-neutral-300);
  --color-primitive-neutral-350: var(--color-primitive-neutral-350);
  --color-primitive-neutral-400: var(--color-primitive-neutral-400);
  --color-primitive-neutral-450: var(--color-primitive-neutral-450);
  --color-primitive-neutral-500: var(--color-primitive-neutral-500);
  --color-primitive-neutral-550: var(--color-primitive-neutral-550);
  --color-primitive-neutral-600: var(--color-primitive-neutral-600);
  --color-primitive-neutral-650: var(--color-primitive-neutral-650);
  --color-primitive-neutral-700: var(--color-primitive-neutral-700);
  --color-primitive-neutral-750: var(--color-primitive-neutral-750);
  --color-primitive-neutral-800: var(--color-primitive-neutral-800);
  --color-primitive-neutral-850: var(--color-primitive-neutral-850);
  --color-primitive-neutral-900: var(--color-primitive-neutral-900);
  --color-primitive-neutral-950: var(--color-primitive-neutral-950);

  --color-primitive-dark-50: var(--color-primitive-dark-50);
  --color-primitive-dark-100: var(--color-primitive-dark-100);
  --color-primitive-dark-200: var(--color-primitive-dark-200);
  --color-primitive-dark-300: var(--color-primitive-dark-300);
  --color-primitive-dark-400: var(--color-primitive-dark-400);
  --color-primitive-dark-500: var(--color-primitive-dark-500);
  --color-primitive-dark-600: var(--color-primitive-dark-600);
  --color-primitive-dark-700: var(--color-primitive-dark-700);
  --color-primitive-dark-800: var(--color-primitive-dark-800);
  --color-primitive-dark-900: var(--color-primitive-dark-900);
  --color-primitive-dark-950: var(--color-primitive-dark-950);

  /* Green (Support) */
  --color-primitive-green-light-50: var(--color-primitive-green-light-50);
  --color-primitive-green-light-100: var(--color-primitive-green-light-100);
  --color-primitive-green-light-200: var(--color-primitive-green-light-200);
  --color-primitive-green-light-300: var(--color-primitive-green-light-300);
  --color-primitive-green-light-400: var(--color-primitive-green-light-400);
  --color-primitive-green-light-500: var(--color-primitive-green-light-500);
  --color-primitive-green-light-600: var(--color-primitive-green-light-600);
  --color-primitive-green-light-700: var(--color-primitive-green-light-700);
  --color-primitive-green-light-800: var(--color-primitive-green-light-800);
  --color-primitive-green-light-900: var(--color-primitive-green-light-900);
  --color-primitive-green-light-950: var(--color-primitive-green-light-950);

  --color-primitive-green-dark-50: var(--color-primitive-green-dark-50);
  --color-primitive-green-dark-100: var(--color-primitive-green-dark-100);
  --color-primitive-green-dark-200: var(--color-primitive-green-dark-200);
  --color-primitive-green-dark-300: var(--color-primitive-green-dark-300);
  --color-primitive-green-dark-400: var(--color-primitive-green-dark-400);
  --color-primitive-green-dark-500: var(--color-primitive-green-dark-500);
  --color-primitive-green-dark-600: var(--color-primitive-green-dark-600);
  --color-primitive-green-dark-700: var(--color-primitive-green-dark-700);
  --color-primitive-green-dark-800: var(--color-primitive-green-dark-800);
  --color-primitive-green-dark-900: var(--color-primitive-green-dark-900);
  --color-primitive-green-dark-950: var(--color-primitive-green-dark-950);

  /* Red (Support) */
  --color-primitive-red-light-50: var(--color-primitive-red-light-50);
  --color-primitive-red-light-100: var(--color-primitive-red-light-100);
  --color-primitive-red-light-200: var(--color-primitive-red-light-200);
  --color-primitive-red-light-300: var(--color-primitive-red-light-300);
  --color-primitive-red-light-400: var(--color-primitive-red-light-400);
  --color-primitive-red-light-500: var(--color-primitive-red-light-500);
  --color-primitive-red-light-600: var(--color-primitive-red-light-600);
  --color-primitive-red-light-700: var(--color-primitive-red-light-700);
  --color-primitive-red-light-800: var(--color-primitive-red-light-800);
  --color-primitive-red-light-900: var(--color-primitive-red-light-900);
  --color-primitive-red-light-950: var(--color-primitive-red-light-950);

  --color-primitive-red-dark-50: var(--color-primitive-red-dark-50);
  --color-primitive-red-dark-100: var(--color-primitive-red-dark-100);
  --color-primitive-red-dark-200: var(--color-primitive-red-dark-200);
  --color-primitive-red-dark-300: var(--color-primitive-red-dark-300);
  --color-primitive-red-dark-400: var(--color-primitive-red-dark-400);
  --color-primitive-red-dark-500: var(--color-primitive-red-dark-500);
  --color-primitive-red-dark-600: var(--color-primitive-red-dark-600);
  --color-primitive-red-dark-700: var(--color-primitive-red-dark-700);
  --color-primitive-red-dark-800: var(--color-primitive-red-dark-800);
  --color-primitive-red-dark-900: var(--color-primitive-red-dark-900);
  --color-primitive-red-dark-950: var(--color-primitive-red-dark-950);

  /* Yellow (Support) */
  --color-primitive-yellow-light-50: var(--color-primitive-yellow-light-50);
  --color-primitive-yellow-light-100: var(--color-primitive-yellow-light-100);
  --color-primitive-yellow-light-200: var(--color-primitive-yellow-light-200);
  --color-primitive-yellow-light-300: var(--color-primitive-yellow-light-300);
  --color-primitive-yellow-light-400: var(--color-primitive-yellow-light-400);
  --color-primitive-yellow-light-500: var(--color-primitive-yellow-light-500);
  --color-primitive-yellow-light-600: var(--color-primitive-yellow-light-600);
  --color-primitive-yellow-light-700: var(--color-primitive-yellow-light-700);
  --color-primitive-yellow-light-800: var(--color-primitive-yellow-light-800);
  --color-primitive-yellow-light-900: var(--color-primitive-yellow-light-900);
  --color-primitive-yellow-light-950: var(--color-primitive-yellow-light-950);

  --color-primitive-yellow-dark-50: var(--color-primitive-yellow-dark-50);
  --color-primitive-yellow-dark-100: var(--color-primitive-yellow-dark-100);
  --color-primitive-yellow-dark-200: var(--color-primitive-yellow-dark-200);
  --color-primitive-yellow-dark-300: var(--color-primitive-yellow-dark-300);
  --color-primitive-yellow-dark-400: var(--color-primitive-yellow-dark-400);
  --color-primitive-yellow-dark-500: var(--color-primitive-yellow-dark-500);
  --color-primitive-yellow-dark-600: var(--color-primitive-yellow-dark-600);
  --color-primitive-yellow-dark-700: var(--color-primitive-yellow-dark-700);
  --color-primitive-yellow-dark-800: var(--color-primitive-yellow-dark-800);
  --color-primitive-yellow-dark-900: var(--color-primitive-yellow-dark-900);
  --color-primitive-yellow-dark-950: var(--color-primitive-yellow-dark-950);

  /* Blue (Support) */
  --color-primitive-blue-light-50: var(--color-primitive-blue-light-50);
  --color-primitive-blue-light-100: var(--color-primitive-blue-light-100);
  --color-primitive-blue-light-200: var(--color-primitive-blue-light-200);
  --color-primitive-blue-light-300: var(--color-primitive-blue-light-300);
  --color-primitive-blue-light-400: var(--color-primitive-blue-light-400);
  --color-primitive-blue-light-500: var(--color-primitive-blue-light-500);
  --color-primitive-blue-light-600: var(--color-primitive-blue-light-600);
  --color-primitive-blue-light-700: var(--color-primitive-blue-light-700);
  --color-primitive-blue-light-800: var(--color-primitive-blue-light-800);
  --color-primitive-blue-light-900: var(--color-primitive-blue-light-900);
  --color-primitive-blue-light-950: var(--color-primitive-blue-light-950);

  --color-primitive-blue-dark-50: var(--color-primitive-blue-dark-50);
  --color-primitive-blue-dark-100: var(--color-primitive-blue-dark-100);
  --color-primitive-blue-dark-200: var(--color-primitive-blue-dark-200);
  --color-primitive-blue-dark-300: var(--color-primitive-blue-dark-300);
  --color-primitive-blue-dark-400: var(--color-primitive-blue-dark-400);
  --color-primitive-blue-dark-500: var(--color-primitive-blue-dark-500);
  --color-primitive-blue-dark-600: var(--color-primitive-blue-dark-600);
  --color-primitive-blue-dark-700: var(--color-primitive-blue-dark-700);
  --color-primitive-blue-dark-800: var(--color-primitive-blue-dark-800);
  --color-primitive-blue-dark-900: var(--color-primitive-blue-dark-900);
  --color-primitive-blue-dark-950: var(--color-primitive-blue-dark-950);

  /* =============== SEMANTIC =============== */
  /* ---------- Brand ---------- */
  --color-brand-primary-weakest: var(--color-brand-primary-weakest);
  --color-brand-primary-weaker: var(--color-brand-primary-weaker);
  --color-brand-primary-weak: var(--color-brand-primary-weak);
  --color-brand-primary: var(--color-brand-primary);
  --color-brand-primary-strong: var(--color-brand-primary-strong);
  --color-brand-primary-stronger: var(--color-brand-primary-stronger);
  --color-brand-primary-strongest: var(--color-brand-primary-strongest);

  --color-brand-secondary-weakest: var(--color-brand-secondary-weakest);
  --color-brand-secondary-weaker: var(--color-brand-secondary-weaker);
  --color-brand-secondary-weak: var(--color-brand-secondary-weak);
  --color-brand-secondary: var(--color-brand-secondary);
  --color-brand-secondary-strong: var(--color-brand-secondary-strong);
  --color-brand-secondary-stronger: var(--color-brand-secondary-stronger);
  --color-brand-secondary-strongest: var(--color-brand-secondary-strongest);

  /* ---------- Content ---------- */
  --color-content-background-primary: var(--color-content-background-primary);
  --color-content-border-primary: var(--color-content-border-primary);
  --color-content-text-primary: var(--color-content-text-primary);

  --color-content-background-secondary: var(
    --color-content-background-secondary
  );
  --color-content-border-secondary: var(--color-content-border-secondary);
  --color-content-text-secondary: var(--color-content-text-secondary);

  --color-content-background-tertiary: var(--color-content-background-tertiary);
  --color-content-border-tertiary: var(--color-content-border-tertiary);
  --color-content-text-tertiary: var(--color-content-text-tertiary);

  --color-content-background-quaternary: var(
    --color-content-background-quaternary
  );
  --color-content-border-quaternary: var(--color-content-border-quaternary);
  --color-content-text-quaternary: var(--color-content-text-quaternary);

  --color-content-background-quinary: var(--color-content-background-quinary);
  --color-content-border-quinary: var(--color-content-border-quinary);
  --color-content-text-quinary: var(--color-content-text-quinary);

  /* ---------- Feedback ---------- */
  --color-feedback-background-success: var(--color-feedback-background-success);
  --color-feedback-border-success: var(--color-feedback-border-success);
  --color-feedback-text-success: var(--color-feedback-text-success);

  --color-feedback-background-warning: var(--color-feedback-background-warning);
  --color-feedback-border-warning: var(--color-feedback-border-warning);
  --color-feedback-text-warning: var(--color-feedback-text-warning);

  --color-feedback-background-error: var(--color-feedback-background-error);
  --color-feedback-border-error: var(--color-feedback-border-error);
  --color-feedback-text-error: var(--color-feedback-text-error);

  --color-feedback-background-information: var(
    --color-feedback-background-information
  );
  --color-feedback-border-information: var(--color-feedback-border-information);
  --color-feedback-text-information: var(--color-feedback-text-information);

  --color-feedback-background-new: var(--color-feedback-background-new);
  --color-feedback-border-new: var(--color-feedback-border-new);
  --color-feedback-text-new: var(--color-feedback-text-new);

  --color-feedback-background-neutral: var(--color-feedback-background-neutral);
  --color-feedback-border-neutral: var(--color-feedback-border-neutral);
  --color-feedback-text-neutral: var(--color-feedback-text-neutral);

  /* Action */
  /* --color-action-background-primary: var(--color-action-background-primary);
  --color-action-background-primary-hover: var(
    --color-action-background-primary-hover
  ); */
  /* --color-action-background-neutral: var(--color-action-background-neutral);
  --color-action-background-neutral-hover: var(
    --color-action-background-neutral-hover
  ); */

  /* =============== COMPONENT =============== */
  /* ---------- Button ---------- */
  /* --color-button-background-neutral: var(--color-action-background-neutral);
  --color-button-background-neutral-hover: var(--color-action-background-neutral-hover); */

  /* ---------- BadgeTag ---------- */
  --color-badgetag-background: var(--color-badgetag-background);
  --color-badgetag-text: var(--color-badgetag-text);
  --color-badgetag-text-hover: var(--color-badgetag-text-hover);
  --color-badgetag-border: var(--color-badgetag-border);
  --color-badgetag-border-hover: var(--color-badgetag-border-hover);

  /* ---------- BadgeStatus ---------- */
  --color-badgestatus-background-success: var(
    --color-badgestatus-background-success
  );
  --color-badgestatus-border-success: var(--color-badgestatus-border-success);
  --color-badgestatus-text-success: var(--color-badgestatus-text-success);

  --color-badgestatus-background-warning: var(
    --color-badgestatus-background-warning
  );
  --color-badgestatus-border-warning: var(--color-badgestatus-border-warning);
  --color-badgestatus-text-warning: var(--color-badgestatus-text-warning);

  --color-badgestatus-background-error: var(
    --color-badgestatus-background-error
  );
  --color-badgestatus-border-error: var(--color-badgestatus-border-error);
  --color-badgestatus-text-error: var(--color-badgestatus-text-error);

  --color-badgestatus-background-information: var(
    --color-badgestatus-background-information
  );
  --color-badgestatus-border-information: var(
    --color-badgestatus-border-information
  );
  --color-badgestatus-text-information: var(
    --color-badgestatus-text-information
  );

  --color-badgestatus-background-new: var(--color-badgestatus-background-new);
  --color-badgestatus-border-new: var(--color-badgestatus-border-new);
  --color-badgestatus-text-new: var(--color-badgestatus-text-new);

  --color-badgestatus-background-neutral: var(
    --color-badgestatus-background-neutral
  );
  --color-badgestatus-border-neutral: var(--color-badgestatus-border-neutral);
  --color-badgestatus-text-neutral: var(--color-badgestatus-text-neutral);

  /* ---------- Clock ---------- */
  --color-clock-background: var(--color-clock-background);
  --color-clock-border: var(--color-clock-border);
  --color-clock-icon: var(--color-clock-icon);
  --color-clock-city-text: var(--color-clock-city-text);
  --color-clock-gmt-text: var(--color-clock-gmt-text);
  --color-clock-time-text: var(--color-clock-time-text);

  /* ---------- Container ---------- */
  --color-container-background: var(--color-container-background);
  --color-container-border: var(--color-container-border);

  /* ---------- ExternalLink ---------- */
  --color-externallink-background: var(--color-externallink-background);
  --color-externallink-border: var(--color-externallink-border);
  --color-externallink-website-text: var(--color-externallink-website-text);
  --color-externallink-username-text: var(--color-externallink-username-text);

  /* ---------- HalftoneBackground ---------- */
  --color-halftonebackground-fill: var(--color-halftonebackground-fill);

  /* ---------- Highlights ---------- */
  --color-highlights-text: var(--color-highlights-text);
  --color-highlights-slash-text: var(--color-highlights-slash-text);

  /* ---------- MenuMain ---------- */
  --color-menumain-background: var(--color-menumain-background);
  --color-menumain-border: var(--color-menumain-border);
  --color-menumain-text: var(--color-menumain-text);

  --color-menumain-item-text: var(--color-menumain-item-text);
  --color-menumain-item-text-hover: var(--color-menumain-item-text-hover);
  --color-menumain-item-background-hover: var(
    --color-menumain-item-background-hover
  );
  --color-menumain-item-text-active: var(--color-menumain-item-text-active);
  --color-menumain-item-background-active: var(
    --color-menumain-item-background-active
  );

  --color-menumain-configbutton-background: var(
    --color-menumain-configbutton-background
  );
  --color-menumain-configbutton-border: var(
    --color-menumain-configbutton-border
  );

  --color-menumain-dropdown-background: var(
    --color-menumain-dropdown-background
  );
  --color-menumain-dropdown-border: var(--color-menumain-dropdown-border);

  --color-menumain-dropdownitem-text: var(--color-menumain-dropdownitem-text);
  --color-menumain-dropdownitem-text-hover: var(
    --color-menumain-dropdownitem-text-hover
  );
  --color-menumain-dropdownitem-background-hover: var(
    --color-menumain-dropdownitem-background-hover
  );
  --color-menumain-dropdownitem-border-hover: var(
    --color-menumain-dropdownitem-border-hover
  );

  /* ---------- Section ---------- */
  --color-section-title-text: var(--color-section-title-text);
  --color-section-label-text: var(--color-section-label-text);

  /* ---------- SkeletonGeneric ---------- */
  --color-skeletongeneric-background: var(--color-skeletongeneric-background);

  /* ---------- TechnologiesGrid ---------- */
  --color-technologiesgrid-categorytechs-background: var(
    --color-technologiesgrid-categorytechs-background
  );
  --color-technologiesgrid-categorytechs-background-selected: var(
    --color-technologiesgrid-categorytechs-background-selected
  );
  --color-technologiesgrid-categorytechs-border: var(
    --color-technologiesgrid-categorytechs-border
  );
  --color-technologiesgrid-categorytechs-border-selected: var(
    --color-technologiesgrid-categorytechs-border-selected
  );
  --color-technologiesgrid-categorytechstitle-text: var(
    --color-technologiesgrid-categorytechstitle-text
  );
  --color-technologiesgrid-categorytechstitle-text-selected: var(
    --color-technologiesgrid-categorytechstitle-text-selected
  );
  --color-technologiesgrid-categorytechsdescription-text: var(
    --color-technologiesgrid-categorytechsdescription-text
  );
  --color-technologiesgrid-categorytechsdescription-text-selected: var(
    --color-technologiesgrid-categorytechsdescription-text-selected
  );
  --color-technologiesgrid-icon: var(--color-technologiesgrid-icon);
  --color-technologiesgrid-icon-selected: var(
    --color-technologiesgrid-icon-selected
  );
  --color-technologiesgrid-iconbox-background: var(
    --color-technologiesgrid-iconbox-background
  );
  --color-technologiesgrid-iconbox-background-selected: var(
    --color-technologiesgrid-iconbox-background-selected
  );

  --color-technologiesgrid-techs-background: var(
    --color-technologiesgrid-techs-background
  );
  --color-technologiesgrid-techs-border: var(
    --color-technologiesgrid-techs-border
  );
  --color-technologiesgrid-techs-grid: var(--color-technologiesgrid-techs-grid);
}

::selection {
  background-color: oklch(from var(--color-brand-secondary) l c h / 25%);
  color: var(--color-content-text-primary);
}

body {
  background-color: var(--color-content-background-primary);
  font-family: var(--font-inter), sans-serif;
  color: var(--color-content-text-primary);
}

code,
pre {
  font-family: var(--font-roboto-mono), monospace;
}
