/* ========================= PRIMITIVE ========================= */
:root {
  /* Orange (Primary) */

  --color-primitive-orange-light-50: oklch(0.835 0.1 62); /* #E8C889 */
  --color-primitive-orange-light-100: oklch(0.82 0.113 58); /* #E6C07A */
  --color-primitive-orange-light-200: oklch(0.803 0.127 54); /* #E4B66A */
  --color-primitive-orange-light-300: oklch(0.79 0.14 50); /* #E2AC5A */
  --color-primitive-orange-light-400: oklch(0.696 0.197 44); /* #E97A16 */
  --color-primitive-orange-light-500: oklch(0.685 0.19 43); /* #DB831E */
  --color-primitive-orange-light-600: oklch(0.665 0.18 42); /* #CC7B23 */
  --color-primitive-orange-light-700: oklch(0.645 0.172 41); /* #BD7326 */
  --color-primitive-orange-light-800: oklch(0.625 0.164 40); /* #AE6B29 */
  --color-primitive-orange-light-900: oklch(0.6 0.155 39); /* #A1622A */
  --color-primitive-orange-light-950: oklch(0.565 0.148 37); /* #965829 */

  --color-primitive-orange-dark-50: oklch(0.865 0.135 78.92); /* #FFC33D */
  --color-primitive-orange-dark-100: oklch(0.852 0.145 78.92); /* #FFBC2C */
  --color-primitive-orange-dark-200: oklch(0.839 0.153 78.92); /* #FFB61E */
  --color-primitive-orange-dark-300: oklch(0.826 0.16 78.92); /* #FCB012 */
  --color-primitive-orange-dark-400: oklch(0.812 0.164 78.92); /* #F8AA0A */
  --color-primitive-orange-dark-500: oklch(0.7976 0.1648 78.92); /* #F5AE07 */
  --color-primitive-orange-dark-600: oklch(0.78 0.164 78.92); /* #EFA600 */
  --color-primitive-orange-dark-700: oklch(0.762 0.161 78.92); /* #E69E00 */
  --color-primitive-orange-dark-800: oklch(0.744 0.157 78.92); /* #DD9600 */
  --color-primitive-orange-dark-900: oklch(0.726 0.151 78.92); /* #D48D00 */
  --color-primitive-orange-dark-950: oklch(0.708 0.145 78.92); /* #CA8500 */

  /* Purple (Primary) */
  --color-primitive-purple-light-50: oklch(0.635 0.248 304); /* #AD51FF */
  --color-primitive-purple-light-100: oklch(0.618 0.26 306); /* #AD43FD */
  --color-primitive-purple-light-200: oklch(0.598 0.271 309); /* #AE30F6 */
  --color-primitive-purple-light-300: oklch(0.577 0.279 312); /* #AE16EC */
  --color-primitive-purple-light-400: oklch(0.5793 0.1898 315.9); /* #A44DC4 */
  --color-primitive-purple-light-500: oklch(0.548 0.247 312); /* #9F27D5 */
  --color-primitive-purple-light-600: oklch(0.52 0.246 308); /* #901FD2 */
  --color-primitive-purple-light-700: oklch(0.493 0.242 305); /* #8318CB */
  --color-primitive-purple-light-800: oklch(0.467 0.235 302); /* #7613C3 */
  --color-primitive-purple-light-900: oklch(0.443 0.226 300); /* #6B11BA */
  --color-primitive-purple-light-950: oklch(0.421 0.216 298.5); /* #6110AF */

  --color-primitive-purple-dark-50: oklch(0.8 0.22 299.5); /* #D2A7FF */
  --color-primitive-purple-dark-100: oklch(0.783 0.231 300.2); /* #CE9EFF */
  --color-primitive-purple-dark-200: oklch(0.763 0.241 301); /* #C994FF */
  --color-primitive-purple-dark-300: oklch(0.742 0.248 301.9); /* #C38AFF */
  --color-primitive-purple-dark-400: oklch(0.6493 0.1911 302.73); /* #A76BED */
  --color-primitive-purple-dark-500: oklch(0.632 0.194 301.8); /* #A05FE1 */
  --color-primitive-purple-dark-600: oklch(0.614 0.194 301); /* #9955D7 */
  --color-primitive-purple-dark-700: oklch(0.596 0.191 300.2); /* #924CCE */
  --color-primitive-purple-dark-800: oklch(0.578 0.187 299.5); /* #8B44C5 */
  --color-primitive-purple-dark-900: oklch(0.56 0.18 298.8); /* #843CBC */
  --color-primitive-purple-dark-950: oklch(0.542 0.172 298.3); /* #7D35B3 */

  /* Neutral */
  --color-primitive-light-50: oklch(0.9967 0.0013 106.4); /* #FEFEFD */
  --color-primitive-light-100: oklch(0.9938 0.0013 106.4); /* #FDFDFC */
  --color-primitive-light-200: oklch(0.9878 0.0013 106.4); /* #FBFBFA */
  --color-primitive-light-300: oklch(0.9818 0.0013 106.4); /* #F9F9F8 */
  --color-primitive-light-400: oklch(0.9756 0.0026 106.4); /* #F7F7F5 */
  --color-primitive-light-500: oklch(0.9696 0.0026 106.4); /* #F5F5F3 */
  --color-primitive-light-600: oklch(0.9636 0.0027 106.4); /* #F3F3F1 */
  --color-primitive-light-700: oklch(0.9576 0.0027 106.4); /* #F1F1EF */
  --color-primitive-light-800: oklch(0.9516 0.0027 106.4); /* #EFEFED */
  --color-primitive-light-900: oklch(0.9422 0.004 106.5); /* #ECECE9 */
  --color-primitive-light-950: oklch(0.9335 0.0027 106.5); /* #E9E9E7 */

  --color-primitive-neutral-50: oklch(0.9158 0 0); /* #E3E3E3 */
  --color-primitive-neutral-100: oklch(0.8792 0 0); /* #D7D7D7 */
  --color-primitive-neutral-150: oklch(0.8421 0 0); /* #CBCBCB */
  --color-primitive-neutral-200: oklch(0.8047 0 0); /* #BFBFBF */
  --color-primitive-neutral-250: oklch(0.7668 0 0); /* #B3B3B3 */
  --color-primitive-neutral-300: oklch(0.7284 0 0); /* #A7A7A7 */
  --color-primitive-neutral-350: oklch(0.6927 0 0); /* #9C9C9C */
  --color-primitive-neutral-400: oklch(0.6534 0 0); /* #909090 */
  --color-primitive-neutral-450: oklch(0.6167 0 0); /* #858585 */
  --color-primitive-neutral-500: oklch(0.5795 0 0); /* #7A7A7A */
  --color-primitive-neutral-550: oklch(0.5417 0 0); /* #6F6F6F */
  --color-primitive-neutral-600: oklch(0.5032 0 0); /* #646464 */
  --color-primitive-neutral-650: oklch(0.464 0 0); /* #595959 */
  --color-primitive-neutral-700: oklch(0.4276 0 0); /* #4F4F4F */
  --color-primitive-neutral-750: oklch(0.3904 0 0); /* #454545 */
  --color-primitive-neutral-800: oklch(0.3523 0 0); /* #3B3B3B */
  --color-primitive-neutral-850: oklch(0.3171 0 0); /* #323232 */
  --color-primitive-neutral-900: oklch(0.2768 0 0); /* #282828 */
  --color-primitive-neutral-950: oklch(0.2393 0 0); /* #1F1F1F */

  --color-primitive-dark-50: oklch(0.2143 0.0039 286.07); /* #19191B */
  --color-primitive-dark-100: oklch(0.209 0 0); /* #181818 */
  --color-primitive-dark-200: oklch(0.2055 0.0039 286.05); /* #171719 */
  --color-primitive-dark-300: oklch(0.2011 0.0039 286.04); /* #161618 */
  --color-primitive-dark-400: oklch(0.1966 0.004 286.03); /* #151517 */
  --color-primitive-dark-500: oklch(0.1921 0.004 286.02); /* #141416 */
  --color-primitive-dark-600: oklch(0.1876 0.004 286.01); /* #131315 */
  --color-primitive-dark-700: oklch(0.1822 0 0); /* #121212 */
  --color-primitive-dark-800: oklch(0.1739 0.0041 285.97); /* #101012 */
  --color-primitive-dark-900: oklch(0.1642 0.0021 286.17); /* #0E0E0F */
  --color-primitive-dark-950: oklch(0.1548 0.0021 286.15); /* #0C0C0D */

  /* Green (Support) */
  --color-primitive-green-light-50: oklch(0.962 0.016 150); /* #E3F5E7 */
  --color-primitive-green-light-100: oklch(0.955 0.022 150); /* #DCF2E1 */
  --color-primitive-green-light-200: oklch(0.947 0.03 150); /* #D3EED9 */
  --color-primitive-green-light-300: oklch(0.935 0.05 150); /* #C7E9CE */
  --color-primitive-green-light-400: oklch(0.92 0.07 150); /* #B9E2C1 */
  --color-primitive-green-light-500: oklch(0.86 0.09 150); /* #9DD2A7 */
  --color-primitive-green-light-600: oklch(0.85 0.105 150); /* #9CDEAA */
  --color-primitive-green-light-700: oklch(0.8 0.125 150); /* #86D697 */
  --color-primitive-green-light-800: oklch(0.59 0.1 150); /* #4E8E5D */
  --color-primitive-green-light-900: oklch(0.545 0.095 150); /* #478553 */
  --color-primitive-green-light-950: oklch(0.5 0.085 150); /* #407A4C */

  --color-primitive-green-dark-50: oklch(0.72 0.16 150); /* #4AC06C */
  --color-primitive-green-dark-100: oklch(0.66 0.18 150); /* #09AF51 */
  --color-primitive-green-dark-200: oklch(
    59.537% 0.17993 145.608
  ); /* #0D9930 */
  --color-primitive-green-dark-300: oklch(0.535 0.145 150); /* #08833C */
  --color-primitive-green-dark-400: oklch(0.475 0.11 150); /* #226D39 */
  --color-primitive-green-dark-500: oklch(0.405 0.08 150); /* #245531 */
  --color-primitive-green-dark-600: oklch(0.34 0.06 150); /* #1F4127 */
  --color-primitive-green-dark-700: oklch(0.28 0.045 150); /* #172F1D */
  --color-primitive-green-dark-800: oklch(0.2249 0.032 151.1); /* #102014 */
  --color-primitive-green-dark-900: oklch(0.19 0.028 150); /* #0A170D */
  --color-primitive-green-dark-950: oklch(0.16 0.024 150); /* #061008 */

  /* Red (Support) */
  --color-primitive-red-light-50: oklch(0.962 0.012 25); /* #FCECE9 */
  --color-primitive-red-light-100: oklch(0.955 0.018 25); /* #FAE7E4 */
  --color-primitive-red-light-200: oklch(0.947 0.028 25); /* #F8DFDB */
  --color-primitive-red-light-300: oklch(0.935 0.048 25); /* #F4D4D0 */
  --color-primitive-red-light-400: oklch(0.92 0.075 25); /* #F0C7C2 */
  --color-primitive-red-light-500: oklch(0.855 0.105 25); /* #E9AAA3 */
  --color-primitive-red-light-600: oklch(0.82 0.13 25); /* #E4938A */
  --color-primitive-red-light-700: oklch(0.78 0.15 25); /* #DF7C72 */
  --color-primitive-red-light-800: oklch(0.65 0.145 25); /* #C8463D */
  --color-primitive-red-light-900: oklch(0.605 0.135 25); /* #BD3F37 */
  --color-primitive-red-light-950: oklch(0.56 0.125 25); /* #B13731 */

  --color-primitive-red-dark-50: oklch(0.72 0.16 25); /* #E76A5E */
  --color-primitive-red-dark-100: oklch(0.66 0.18 25); /* #DC554A */
  --color-primitive-red-dark-200: oklch(0.6 0.18 25); /* #D14339 */
  --color-primitive-red-dark-300: oklch(0.535 0.155 25); /* #B73B31 */
  --color-primitive-red-dark-400: oklch(0.475 0.125 25); /* #98342D */
  --color-primitive-red-dark-500: oklch(0.405 0.1 25); /* #7F302A */
  --color-primitive-red-dark-600: oklch(0.34 0.075 25); /* #642924 */
  --color-primitive-red-dark-700: oklch(0.28 0.06 25); /* #4D211E */
  --color-primitive-red-dark-800: oklch(0.225 0.045 25); /* #391A18 */
  --color-primitive-red-dark-900: oklch(0.19 0.035 25); /* #2D1413 */
  --color-primitive-red-dark-950: oklch(0.16 0.028 25); /* #24100F */

  /* Yellow (Support) */
  --color-primitive-yellow-light-50: oklch(0.975 0.018 92); /* #FFF7DC */
  --color-primitive-yellow-light-100: oklch(0.968 0.028 92); /* #FFF3CE */
  --color-primitive-yellow-light-200: oklch(0.955 0.045 92); /* #FFEBB8 */
  --color-primitive-yellow-light-300: oklch(0.94 0.07 92); /* #FFE29B */
  --color-primitive-yellow-light-400: oklch(0.92 0.1 92); /* #FFD978 */
  --color-primitive-yellow-light-500: oklch(0.855 0.125 92); /* #F9C34A */
  --color-primitive-yellow-light-600: oklch(0.815 0.145 92); /* #F2B52B */
  --color-primitive-yellow-light-700: oklch(0.765 0.15 92); /* #E6A41A */
  --color-primitive-yellow-light-800: oklch(0.61 0.115 92); /* #AC7A08 */
  --color-primitive-yellow-light-900: oklch(0.565 0.105 92); /* #9D6D06 */
  --color-primitive-yellow-light-950: oklch(0.52 0.095 92); /* #8E6105 */

  --color-primitive-yellow-dark-50: oklch(0.8 0.16 92); /* #F5C84B */
  --color-primitive-yellow-dark-100: oklch(0.74 0.16 92); /* #EAB72E */
  --color-primitive-yellow-dark-200: oklch(0.68 0.155 92); /* #DDA719 */
  --color-primitive-yellow-dark-300: oklch(0.6 0.14 92); /* #C18E12 */
  --color-primitive-yellow-dark-400: oklch(0.52 0.12 92); /* #A2780E */
  --color-primitive-yellow-dark-500: oklch(0.44 0.1 92); /* #85620D */
  --color-primitive-yellow-dark-600: oklch(0.37 0.08 92); /* #69500E */
  --color-primitive-yellow-dark-700: oklch(0.3 0.065 92); /* #50400D */
  --color-primitive-yellow-dark-800: oklch(0.24 0.05 92); /* #3C320C */
  --color-primitive-yellow-dark-900: oklch(0.2 0.04 92); /* #30280B */
  --color-primitive-yellow-dark-950: oklch(0.17 0.03 92); /* #272109 */

  /* Blue (Support) */
  --color-primitive-blue-light-50: oklch(0.972 0.014 250); /* #EDF7FF */
  --color-primitive-blue-light-100: oklch(0.96 0.022 250); /* #E5F3FF */
  --color-primitive-blue-light-200: oklch(0.948 0.038 250); /* #DAEEFF */
  --color-primitive-blue-light-300: oklch(0.932 0.06 250); /* #CCE7FF */
  --color-primitive-blue-light-400: oklch(0.915 0.085 250); /* #BDE0FF */
  --color-primitive-blue-light-500: oklch(0.855 0.11 250); /* #A4D1FF */
  --color-primitive-blue-light-600: oklch(0.81 0.135 250); /* #8BC2F7 */
  --color-primitive-blue-light-700: oklch(0.765 0.15 250); /* #73B3EE */
  --color-primitive-blue-light-800: oklch(0.63 0.125 250); /* #3987CA */
  --color-primitive-blue-light-900: oklch(0.585 0.115 250); /* #307DBE */
  --color-primitive-blue-light-950: oklch(0.54 0.105 250); /* #2A72B0 */

  --color-primitive-blue-dark-50: oklch(0.7 0.17 250); /* #4C9FE8 */
  --color-primitive-blue-dark-100: oklch(0.65 0.175 250); /* #3E91DD */
  --color-primitive-blue-dark-200: oklch(0.59 0.17 250); /* #3282D0 */
  --color-primitive-blue-dark-300: oklch(0.53 0.15 250); /* #2D70B7 */
  --color-primitive-blue-dark-400: oklch(0.47 0.125 250); /* #2B609C */
  --color-primitive-blue-dark-500: oklch(0.405 0.1 250); /* #285282 */
  --color-primitive-blue-dark-600: oklch(0.34 0.075 250); /* #234568 */
  --color-primitive-blue-dark-700: oklch(0.28 0.06 250); /* #1E374F */
  --color-primitive-blue-dark-800: oklch(0.225 0.045 250); /* #172B3D */
  --color-primitive-blue-dark-900: oklch(0.19 0.035 250); /* #132331 */
  --color-primitive-blue-dark-950: oklch(0.16 0.028 250); /* #0F1D28 */

  /* Values without hue or scale */
  --color-primitive-black: oklch(0% 0 0);
  --color-primitive-white: oklch(100% 0 0);
  --color-primitive-transparent: transparent;
}

/* ========================= SEMANTIC ========================= */
:root {
  /* ---------- Brand ---------- */
  --color-brand-primary-weakest: var(--color-primitive-orange-light-100);
  --color-brand-primary-weaker: var(--color-primitive-orange-light-200);
  --color-brand-primary-weak: var(--color-primitive-orange-light-300);
  --color-brand-primary: var(--color-primitive-orange-light-400);
  --color-brand-primary-strong: var(--color-primitive-orange-light-600);
  --color-brand-primary-stronger: var(--color-primitive-orange-light-800);
  --color-brand-primary-strongest: var(--color-primitive-orange-light-950);

  --color-brand-secondary-weakest: var(--color-primitive-purple-light-100);
  --color-brand-secondary-weaker: var(--color-primitive-purple-light-200);
  --color-brand-secondary-weak: var(--color-primitive-purple-light-300);
  --color-brand-secondary: var(--color-primitive-purple-light-400);
  --color-brand-secondary-strong: var(--color-primitive-purple-light-600);
  --color-brand-secondary-stronger: var(--color-primitive-purple-light-800);
  --color-brand-secondary-strongest: var(--color-primitive-purple-light-950);

  /* ---------- Content ---------- */
  --color-content-background-primary: var(--color-primitive-white);
  --color-content-border-primary: var(--color-primitive-neutral-250);
  --color-content-text-primary: var(--color-primitive-neutral-850);

  --color-content-background-secondary: var(--color-primitive-light-400);
  --color-content-border-secondary: var(--color-primitive-neutral-200);
  --color-content-text-secondary: var(--color-primitive-neutral-600);

  --color-content-background-tertiary: var(--color-primitive-light-300);
  --color-content-border-tertiary: var(--color-primitive-neutral-150);
  --color-content-text-tertiary: var(--color-primitive-neutral-450);

  --color-content-background-quaternary: var(--color-primitive-light-200);
  --color-content-border-quaternary: var(--color-primitive-neutral-100);
  --color-content-text-quaternary: var(--color-primitive-neutral-300);

  --color-content-background-quinary: var(--color-primitive-light-100);
  --color-content-border-quinary: var(--color-primitive-neutral-50);
  --color-content-text-quinary: var(--color-primitive-neutral-150);

  /* ---------- Feedback ---------- */
  --color-feedback-background-success: var(--color-primitive-green-light-100);
  --color-feedback-border-success: var(--color-primitive-green-light-400);
  --color-feedback-text-success: var(--color-primitive-green-light-900);

  --color-feedback-background-warning: var(--color-primitive-yellow-light-100);
  --color-feedback-border-warning: var(--color-primitive-yellow-light-400);
  --color-feedback-text-warning: var(--color-primitive-yellow-light-900);

  --color-feedback-background-error: var(--color-primitive-red-light-100);
  --color-feedback-border-error: var(--color-primitive-red-light-400);
  --color-feedback-text-error: var(--color-primitive-red-light-900);

  --color-feedback-background-information: var(
    --color-primitive-blue-light-100
  );
  --color-feedback-border-information: var(--color-primitive-blue-light-400);
  --color-feedback-text-information: var(--color-primitive-blue-light-900);

  --color-feedback-background-new: var(--color-primitive-purple-100);
  --color-feedback-border-new: var(--color-primitive-purple-200);
  --color-feedback-text-new: var(--color-primitive-purple-800);

  --color-feedback-background-neutral: var(
    --color-content-background-quaternary
  );
  --color-feedback-border-neutral: var(--color-content-border-quaternary);
  --color-feedback-text-neutral: var(--color-content-text-tertiary);

  /* ---------- Action ---------- */
  /* --color-action-background-primary: var(--color-primitive-orange-500);
  --color-action-background-primary-hover: var(--color-primitive-orange-400); */
  /* --color-action-background-neutral: var(--color-primitive-white);
  --color-action-background-neutral-hover: var(--color-primitive-neutral-100); */
}

:root[data-theme='dark'] {
  /* ---------- Brand ---------- */
  --color-brand-primary-weakest: var(--color-primitive-orange-dark-100);
  --color-brand-primary-weaker: var(--color-primitive-orange-dark-200);
  --color-brand-primary-weak: var(--color-primitive-orange-dark-300);
  --color-brand-primary: var(--color-primitive-orange-dark-400);
  --color-brand-primary-strong: var(--color-primitive-orange-dark-600);
  --color-brand-primary-stronger: var(--color-primitive-orange-dark-800);
  --color-brand-primary-strongest: var(--color-primitive-orange-dark-950);

  --color-brand-secondary-weakest: var(--color-primitive-purple-dark-100);
  --color-brand-secondary-weaker: var(--color-primitive-purple-dark-200);
  --color-brand-secondary-weak: var(--color-primitive-purple-dark-300);
  --color-brand-secondary: var(--color-primitive-purple-dark-400);
  --color-brand-secondary-strong: var(--color-primitive-purple-dark-600);
  --color-brand-secondary-stronger: var(--color-primitive-purple-dark-800);
  --color-brand-secondary-strongest: var(--color-primitive-purple-dark-950);

  /* ---------- Content ---------- */
  --color-content-background-primary: var(--color-primitive-dark-950);
  --color-content-border-primary: var(--color-primitive-neutral-750);
  --color-content-text-primary: var(--color-primitive-neutral-50);

  --color-content-background-secondary: var(--color-primitive-dark-100);
  --color-content-border-secondary: var(--color-primitive-neutral-800);
  --color-content-text-secondary: var(--color-primitive-neutral-150);

  --color-content-background-tertiary: var(--color-primitive-dark-400);
  --color-content-border-tertiary: var(--color-primitive-neutral-850);
  --color-content-text-tertiary: var(--color-primitive-neutral-350);

  --color-content-background-quaternary: var(--color-primitive-dark-700);
  --color-content-border-quaternary: var(--color-primitive-neutral-900);
  --color-content-text-quaternary: var(--color-primitive-neutral-550);

  --color-content-background-quinary: var(--color-primitive-dark-900);
  --color-content-border-quinary: var(--color-primitive-neutral-950);
  --color-content-text-quinary: var(--color-primitive-neutral-750);

  /* ---------- Feedback ---------- */
  --color-feedback-background-success: var(--color-primitive-green-dark-800);
  --color-feedback-border-success: var(--color-primitive-green-dark-600);
  --color-feedback-text-success: var(--color-primitive-green-dark-100);

  --color-feedback-background-warning: var(--color-primitive-yellow-dark-800);
  --color-feedback-border-warning: var(--color-primitive-yellow-dark-600);
  --color-feedback-text-warning: var(--color-primitive-yellow-dark-100);

  --color-feedback-background-error: var(--color-primitive-red-dark-800);
  --color-feedback-border-error: var(--color-primitive-red-dark-600);
  --color-feedback-text-error: var(--color-primitive-red-dark-100);

  --color-feedback-background-information: var(--color-primitive-blue-dark-800);
  --color-feedback-border-information: var(--color-primitive-blue-dark-600);
  --color-feedback-text-information: var(--color-primitive-blue-dark-100);

  --color-feedback-background-new: var(--color-primitive-purple-950);
  --color-feedback-border-new: var(--color-primitive-purple-900);
  --color-feedback-text-new: var(--color-primitive-purple-400);

  --color-feedback-background-neutral: var(
    --color-content-background-secondary
  );
  --color-feedback-border-neutral: var(--color-content-border-secondary);
  --color-feedback-text-neutral: var(--color-content-text-secondary);

  /* ---------- Action ---------- */
  /* --color-action-background-primary: var(--color-primitive-orange-500);
  --color-action-background-primary-hover: var(--color-primitive-orange-400); */
  /* --color-action-background-neutral: var(--color-primitive-neutral-900);
  --color-action-background-neutral-hover: var(--color-primitive-neutral-800); */
}

/* =========================  COMPONENT ========================= */
:root {
  /* --color-button-background-neutral: var(--color-action-background-neutral);
  --color-button-background-neutral-hover: var(--color-action-background-neutral-hover); */

  /* ---------- BadgeStatus ---------- */
  --color-badgestatus-background-success: var(
    --color-feedback-background-success
  );
  --color-badgestatus-border-success: var(--color-feedback-border-success);
  --color-badgestatus-text-success: var(--color-feedback-text-success);

  --color-badgestatus-background-warning: var(
    --color-feedback-background-warning
  );
  --color-badgestatus-border-warning: var(--color-feedback-border-warning);
  --color-badgestatus-text-warning: var(--color-feedback-text-warning);

  --color-badgestatus-background-error: var(--color-feedback-background-error);
  --color-badgestatus-border-error: var(--color-feedback-border-error);
  --color-badgestatus-text-error: var(--color-feedback-text-error);

  --color-badgestatus-background-information: var(
    --color-feedback-background-information
  );
  --color-badgestatus-border-information: var(
    --color-feedback-border-information
  );
  --color-badgestatus-text-information: var(--color-feedback-text-information);

  --color-badgestatus-background-new: var(--color-feedback-background-new);
  --color-badgestatus-border-new: var(--color-feedback-border-new);
  --color-badgestatus-text-new: var(--color-feedback-text-new);

  --color-badgestatus-background-neutral: var(
    --color-feedback-background-neutral
  );
  --color-badgestatus-border-neutral: var(--color-feedback-border-neutral);
  --color-badgestatus-text-neutral: var(--color-feedback-text-neutral);

  /* ---------- Clock ---------- */
  --color-clock-background: var(--color-content-background-secondary);
  --color-clock-border: var(--color-content-border-quaternary);
  --color-clock-text-primary: var(--color-content-text-secondary);
  --color-clock-text-secondary: var(--color-content-text-quaternary);

  /* ---------- Container ---------- */
  --color-container-background: var(--color-content-background-quaternary);
  --color-container-border: var(--color-content-border-quaternary);

  /* ---------- ExternalLink ---------- */
  --color-externallink-background: var(--color-content-background-secondary);
  --color-externallink-border: var(--color-content-border-quaternary);
  --color-externallink-text-primary: var(--color-content-text-primary);
  --color-externallink-text-secondary: var(--color-content-text-secondary);

  /* ---------- Highlights ---------- */
  --color-highlights-text: var(--color-content-text-tertiary);
  --color-highlights-slash: var(--color-content-text-quinary);

  /* ---------- MenuMain ---------- */
  --color-menumain-background: var(--color-content-background-quaternary);
  --color-menumain-border: var(--color-content-border-quaternary);
  --color-menumain-text: var(--color-content-text-secondary);
  --color-menumain-text-hover: var(--color-brand-primary);
  --color-menumain-text-background-hover: var(
    --color-content-background-secondary
  );
  --color-menumain-text-active: var(--color-brand-primary);
  --color-menumain-text-background-active: var(
    --color-content-background-secondary
  );
  --color-menumain-config-button-backgroud: var(
    --color-content-background-quinary
  );
  --color-menumain-config-button-border: var(--color-content-border-quinary);

  /* ---------- Modal ---------- */
  --color-modal-background: var(--color-content-background-tertiary);
  --color-modal-border: var(--color-content-border-tertiary);
  --color-modal-text-secondary: var(--color-content-text-secondary);
  --color-modal-background-hover: oklch(
    from var(--color-brand-primary-weakest) l c h / 10%
  );
  --color-modal-border-hover: oklch(
    from var(--color-brand-primary-weaker) l c h / 15%
  );
  --color-modal-text-hover: var(--color-brand-primary);

  /* ---------- Section ---------- */
  --color-section-text-primary: var(--color-content-text-primary);
  --color-section-text-secondary: var(--color-content-text-quinary);
}
